.interior {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: absolute;
}

.div2 {
    left: 125px;
}

.div3 {
    top: 125px;
}

.div4 {
    top: 125px;
    left: 125px;
}

.div5 {
    background-color: red;
    top: 66.5px;
    left: 66.5px;
    transform: rotate(45deg);
}