* {
    box-sizing: border-box;
}

.container {
    height: 230px;
    width: 230px;
    margin: auto;
}

.interior {
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
}

.div2 {
    left: 125px;
    top: -100px;
}

.div3 {
    top: -75px;
}

.div4 {
    top: -175px;
    left: 125px;
}

.div5 {
    background-color: red;
    top: -337px;
    left: 62.5px;
    transform: rotate(45deg);
}